<!DOCTYPE html>
<html>
  <head>
    <title>Get Lost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Get Lost</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/kynan/GetLost" target="_blank">Source</a></li>
          <li><a href="http://geographics.cz/temp/get-lost/" target="_blank">Live App</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
